@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalnia+Glaze:wght@100..700&family=Oswald:wght@500&family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-bg: rgb(30, 29, 31);
    --secondary-bg: rgb(22, 22, 22);
    --text-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg);
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar img {
    margin-right: 10px;
}

.slider {
    position: relative;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    position: relative;
}

.text {
    position: absolute;
    font-family: fantasy;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7)
}

.slides img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 24px;
    z-index: 10;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1px;
    margin: 20px;
    opacity: 0.6;
}

.information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 10;
}


body {
    background-color: rgb(30, 29, 31);
    overflow-x: hidden;
}


.navbar {
    background-color: rgb(33, 32, 32);
    display: flex;
    color: white;
    width: 100%;
}

.logo a {
    text-decoration: none;
}

.logo a h2 {
    font-family: "Josefin Sans", serif;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 40px;
    width: 100%;
}

.logo h2:hover {
    color: rgb(183, 181, 179);
    transition: 0.4s;
}

.navbar ul {
    display: inline-flex;
    margin: 15px;
    margin-left: 25rem;
}

.navbar ul li {
    margin: 20px;
    list-style: none;
    margin-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.12rem;
    color: white;
}

.socialMedia {
    display: flex;
    margin: 30px;
    cursor: pointer;
}

.app img {
    margin-left: 24px;
    width: 30px;
}

.information {
    font-family: "Italianno", serif;
    font-size: 6rem;
    align-items: center;
    text-align: center;
    width: 100%;
}

#about {
    color: white;
    margin: 212px;
    margin-top: 15rem;
    padding: 50px;
    border-radius: 20px;
    font-size: 1.1rem;
    text-align: center;
}

#about img {
    width: 200px;
    border-radius: 10px;
    float: left;
}

#about ul {
    display: flex;
}

#about ul li {
    margin: 50px;
    list-style: none;
    margin-top: 30px;
}

#about ul li:hover {
    background-color: rgb(174, 26, 26);
    cursor: pointer;
    padding: 2px;
    border-radius: 10px;
    transition: 0.5s;
}


#about p {
    margin: 10px auto;
    width: 90%;
    text-align: center;
    margin-top: -20px;
    margin-left: 20px;
}


.Skills {
    display: inline;
}

.Skills h2 {
    color: white;
    text-align: center;
}

.skillBox {
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    display: inline-block;
    align-items: center;
    margin: 15px;
}

.skillBox img {
    height: 250px;
    width: 250px;
}

#projects {
    position: relative;
    top: 10rem;
    color: white;
    text-align: center;
}

.projectContainer {
    color: white;
    text-align: center;
    display: flex;
    list-style: none;
}

.projectContainer a {
    text-decoration: none;
    font: 0.8rem;
}

.projectBox {
    margin: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(5, 5, 5);
}


.projectBox img {
    width: 300px;
    border-radius: 20px;
}

footer {
    background-color: rgb(15, 13, 13);
    color: white;
    position: relative;
    top: 40vh;
    height: 42vh;
    padding: 10px;
    text-align: center;
}



@media only screen and (max-width: 600px) {
    .navbar {
        width: 20rem;
        height: 75px;
    }

    .navbar a {
        font-size: 10px;
    }

    .slider {
        width: 63rem;
        height: 29rem;
        overflow: hidden;
        position: relative;
    }

    .navbar ul {
        display: none;
        margin-left: 4rem;
        background-color: black;
        height: 33rem;
        margin-top: 0;
    }

    .socialMedia {
        margin-left: 1rem;
    }

    .app {
        width: 40px;
        font-size: 1rem;
    }

    .slides img {
        width: 48.1rem;
        margin-left: -14rem;
    }

    .text {
        margin-left: -16rem;
        font-size: 2.5rem;
    }

    .buttons button {
        margin-right: 40rem;
        font-size: 1rem;
    }

    .btn-2 {
        position: relative;
        right: 27rem;
    }

    #about {
        display: inline-block;
        margin-left: -150px;
        text-align: center;
        margin-top: 0rem;
    }

    #about h2 {
        text-align: center;
        margin-left: 28%;
    }

    #about img {
        width: 6rem;
        position: relative;
        left: 7rem;
    }

    #about ul {
        font-size: 10px;
        margin-left: 262px;
        margin-top: -1rem;
    }

    #about p {
        margin: 12px;
        margin-left: 14rem;
        width: 43%;
        font-size: 11px;
        margin-top: -2.5rem;
    }

    #about ul li {
        margin-left: -35px;
    }

    .Skills {
        align-items: center;
        text-align: center;

    }

    .Skills h2 {
        font-size: 2rem;
    }

    .skillBox {
        display: inline-block;
    }

    .skillBox img {
        width: 8rem;
        height: 8rem;
    }

    .projectBox {
        margin: 10px;
    }

    .projectBox img {
        width: 60px;
    }

    .projectBox h2 {
        font-size: 10px;
    }

    .slide div {
        font-size: 1rem;
        margin-left: -21rem;
    }

    footer {
        width: 100%;
        height: 4rem;
        padding: 22px;
    }
    footer a{
       color: white;
       text-decoration: none;
    }
}