@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalnia+Glaze:wght@100..700&family=Oswald:wght@500&family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 29, 31);
    overflow-x: hidden;
}


.navbar {
    background-color: rgb(23, 22, 22);
    display: flex;
    color: white;
}

.logo a {
    text-decoration: none;
}

.logo a h2 {
    font-family: "Josefin Sans", serif;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 40px;
}

.logo h2:hover {
    color: rgb(183, 181, 179);
    transition: 0.4s;
}

.navbar ul {
    display: inline-flex;
    margin: 15px;
    margin-left: 40rem;
}

.navbar ul li {
    margin: 20px;
    list-style: none;
    margin-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.12rem;
    color: white;
}

.socialMedia {
    display: flex;
    margin: 30px;
    cursor: pointer;
}

.app img {
    margin-left: 24px;
    width: 30px;
}

.left {
    color: white;
    font-family: "Josefin Sans", serif;
    width: 50vw;
    font-size: 4rem;
    margin: 50px;
    margin-top: 5rem;
}

.left span {
    color: red;
}

.btn {
    background-color: rgb(13, 52, 94);
    padding: 15px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    margin-top: 40px;
    cursor: pointer;
}

.btn2 {
    background-color: rgb(170, 183, 197);
    padding: 15px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    margin-top: 40px;
    cursor: pointer;
}

.right {
    float: right;
}

.right img {
    position: relative;
    bottom: 520px;
    right: 10rem;
    width: 20rem;
    margin: 20px;
}

.aboutMe {
    position: relative;
    color: white;
    margin: 165px;
    margin-top: 20rem;
}

.aboutBox {
    padding: 50px;
    background-color: rgb(54, 53, 53);
    width: 65vw;
    border-radius: 20px;
    height: 60vh;
}

.aboutBox h2 {
    text-align: center;
    font-family: "Josefin Sans", serif;
}

.aboutBox img {
    width: 240px;
    align-items: start;
}

.aboutBox p {
    position: relative;
    bottom: 160px;
    left: 260px;
    width: 40vw;
    font-size: 1.2rem;
    text-align: center;
}

.interest {
    position: relative;
    left: 260px;
    bottom: 100px;
}

.interest img {
    width: 30px;
    margin-top: 10px;
    margin: 20px;
}

.Skills {
    display: inline;
}

.Skills h2 {
    color: white;
    text-align: center;
}

.skillLeft {
    float: left;
    margin-left: 0;
    display: flex;
}

.skillRight {
    float: right;
    display: flex;
}

.skillBox {
    background-color: rgb(39, 38, 38);
    color: white;
    width: 90%;
    display: flex;
    padding: 10px;
    margin: 20px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.skillBoxLeft {
    align-items: center;
    float: left;
}

.skillBoxLeft img {
    width: 250px;
    border-radius: 100%;
}

.skillBoxRight {
    height: 40vh;
}

.myProjects {
    position: relative;
    top: 10rem;
}

.projectContainer {
    color: white;
    text-align: center;
    display: flex;
}

.projectBox {
    margin: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(5, 5, 5);
}

.projectBox img {
    width: 300px;
    border-radius: 20px;
}

footer {
    background-color: rgb(15, 13, 13);
    color: white;
    position: relative;
    top: 40vh;
    height: 42vh;
    padding: 10px;
    text-align: center;
}

.links {
    display: flex;
}

footer ul {
    margin: 20px;
    margin-left: 10rem;
}

footer ul li {
    margin: 28px;
    list-style: none;
}

footer ul li a {
    color: white;
    text-decoration: none;
}